{% extends 'base.html.twig' %}

{% set title = 'How we purchase properties from couples who are in divorce situation' %}

{% block body %}
    <section class="gap page-content" style="background-color: #fafafa;" data-aos="fade-up" data-aos-delay="200" data-aos-duration="400">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200" data-aos-duration="300">
                    <div class="mobile-app">
                        <i class="fa-solid fa-house"></i> <span><a href="{{ path('app_home') }}">Home</a></span>
                        <span>/</span>
                        <span><a href="{{ app.request.uri }}">How we purchase properties from couples who are in divorce situation</a></span>
                        <h2>A Fresh Start: Selling Your Home After Divorce</h2>
                    </div>
                    <div class="detailmobil">
                        <div class="comment pt-0">
                            <ul>
                                <li>
                                    <img alt="image" src="https://ik.imagekit.io/premiumcashbuyers/Pages/divorce_1-min.jpg?updatedAt=1696440171630">
                                    <div class="comment-data">
                                        <h4>Navigating Property Sales Post-Divorce</h4>
                                        <p class="pt-4">
                                            Divorce is a life-altering experience, often leading to the sale of the marital home. At Premium Cash Buyers, we extend our expertise and support to help you through this transition, offering solutions that are both empowering and rewarding.
                                        </p>
                                    </div>
                                </li>
                                <li class="reply-comment">
                                    <img alt="image" src="https://ik.imagekit.io/premiumcashbuyers/Pages/divorce_2-min.jpg?updatedAt=1696440171630">
                                    <div class="comment-data">
                                        <h4>Legal Considerations and Asset Division</h4>
                                        <p class="pt-4">
                                            Understanding legal implications and asset division is crucial during a post-divorce property sale. Our team at Premium Cash Buyers is here to guide you through the legal intricacies, ensuring a fair and transparent transaction. We strive to provide you with the knowledge and support you need during this challenging time.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img alt="image" src="https://ik.imagekit.io/premiumcashbuyers/Pages/divorce_3-min.jpg?updatedAt=1696440171630">
                                    <div class="comment-data">
                                        <h4>Direct Cash Offer: A Smooth Transition</h4>
                                        <p class="pt-4">
                                            Premium Cash Buyers offers direct cash offers for your property, ensuring a swift and hassle-free transaction. We buy properties as-is, with no need for inspections or appraisals, and without any agent fees or commissions. Our streamlined process is designed to help you move forward quickly and confidently.
                                        </p>
                                    </div>
                                </li>
                                <li class="reply-comment">
                                    <img alt="image" src="https://ik.imagekit.io/premiumcashbuyers/Pages/divorce_4-min.jpg?updatedAt=1696440171630">
                                    <div class="comment-data">
                                        <h4>Embracing New Beginnings</h4>
                                        <p class="pt-4">
                                            A divorce marks the end of a chapter and the beginning of a new one. At premiumcashbuyers.com, we’re here to support you in embracing new beginnings, offering expert advice and personalized solutions. We aim to make the sale of your property a positive step towards your future.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img alt="image" src="https://ik.imagekit.io/premiumcashbuyers/Pages/divorce_5-min.jpg?updatedAt=1696440171630">
                                    <div class="comment-data">
                                        <h4>Contact Us for a No Obligation Cash Offer</h4>
                                        <p class="pt-4">
                                            Facing a divorce and considering selling your property? Contact Premium Cash Buyers for a no-obligation cash offer and professional guidance. Our dedicated team is here to assist you in navigating through the sale, ensuring a seamless and empowering experience.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200" data-aos-duration="300">
                    <div class="heading two">
                        <p class="m-2 mb-4">MEET OUR PROFESSIONALS</p>
                    </div>
                    <div id="contactForm">
                        {{ include('form/contact_address.html.twig') }}
                    </div>
                </div>
                <div class="offset-xl-1 col-lg-5" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
                    <div class="what-we-provide address">
                        <i>
                            <img class="lazyload" src="https://ik.imagekit.io/premiumcashbuyers/white-placeholder.webp?updatedAt=1686638140869" data-src="https://ik.imagekit.io/premiumcashbuyers/icons/mail.svg?updatedAt=1686137523633" alt="icon" width="40" height="40">
                        </i>
                        <div>
                            <h4 class="pb-2">Email Address</h4>
                            <h2><a href="mailto:info@premiumcashbuyers.com">Send an email</a></h2>
                        </div>
                    </div>
                    <div class="what-we-provide address">
                        <i>
                            <img class="lazyload" src="https://ik.imagekit.io/premiumcashbuyers/white-placeholder.webp?updatedAt=1686638140869" data-src="https://ik.imagekit.io/premiumcashbuyers/icons/phone.svg?updatedAt=1686137523743" alt="icon" width="40" height="40">
                        </i>
                        <div>
                            <h4 class="pb-2">Phone No</h4>
                            <h2><a href="callto:+19019100101">(901) 910-0101</a></h2>
                            <h5>24/7 Support team</h5>
                        </div>
                    </div>
                    <div class="what-we-provide end address">
                        <i>
                            <img class="lazyload" src="https://ik.imagekit.io/premiumcashbuyers/white-placeholder.webp?updatedAt=1686638140869" data-src="https://ik.imagekit.io/premiumcashbuyers/icons/hours.svg?updatedAt=1686137520099" alt="icon" width="40" height="40">
                        </i>
                        <div>
                            <h4 class="pb-2">Working Hours</h4>
                            <h2>We are open 24/7!</h2>
                            <h5>Monday - Sunday</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}