<footer>
    <div class="container">
        <div class="start-footer">
            <p class="footer">© {{ 'now' | date('Y') }} Premium Cash Buyers, All rights reserved</p>
        </div>
    </div>
</footer>