<header class="header-styletwo">
    <div class="top-bar-header" style="background-color:#f8f8f8">
        <div class="container">
            <div class="row">
                <div class="phone-style">
                    <div class="content-style">
                        <div class="content-style">
                            <h4>Phone:</h4><a href="callto:+19019100101">(901) 910-0101</a>
                        </div>
                        <div class="content-style">
                            <h4>Email:</h4><a href="mailto:info@premiumcashbuyers.com">info@premiumcashbuyers.com</a>
                        </div>
                    </div>
                    <ul class="social-media">
                        <li><a href="https://premiumcashbuyers.com/"><i class="fa-brands fa-facebook-f"></i>Facebook </a></li>
                        <li><a href="https://www.youtube.com/channel/UC1qyOtzsyPfDEpCryfigfqg" target="_blank"><i class="fa-brands fa-youtube"></i> YouTube </a></li>
                        <li><a href="https://www.instagram.com/premium_cash_buyers" target="_blank"><i class="fa-brands fa-linkedin-in"></i>Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="end-bar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-2">
                    <div class="header-style">
                        <a href="{{ path('app_home') }}">
                            <img class="lazyload" src="https://ik.imagekit.io/premiumcashbuyers/white-placeholder.webp?updatedAt=1686638140869" data-src="https://ik.imagekit.io/premiumcashbuyers/logo-blue.svg?updatedAt=1686137142837" alt="logo" width="277" height="45" style="margin-top: -8px">
                        </a>
                        <div class="bar-menu">
                            <svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <path d="m128 102.4c0-14.138 11.462-25.6 25.6-25.6h332.8c14.138 0 25.6 11.462 25.6 25.6s-11.462 25.6-25.6 25.6h-332.8c-14.138 0-25.6-11.463-25.6-25.6zm358.4 128h-460.8c-14.138 0-25.6 11.463-25.6 25.6 0 14.138 11.462 25.6 25.6 25.6h460.8c14.138 0 25.6-11.462 25.6-25.6 0-14.137-11.462-25.6-25.6-25.6zm0 153.6h-230.4c-14.137 0-25.6 11.462-25.6 25.6 0 14.137 11.463 25.6 25.6 25.6h230.4c14.138 0 25.6-11.463 25.6-25.6 0-14.138-11.462-25.6-25.6-25.6z"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <nav class="navbar">
                        <ul class="navbar-links">
                            <li class="navbar-dropdown">
                                <a class="anchor" href="#about-us">About</a>
                            </li>
                            <li class="navbar-dropdown">
                                <a class="anchor" href="#how-it-works">How it works</a>
                            </li>
                            <li class="navbar-dropdown">
                                <a class="anchor" href="#questions">Questions?</a>
                            </li>
                            <li class="navbar-dropdown">
                                <a class="anchor" href="#contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="hamburger-icon">
                        <a href="#contact" class="anchor sec-btn">GET CASH OFFER</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-nav" id="mobile-nav" style="display: block;">
        <ul>
            <li>
                <a class="anchor" href="#about-us">About</a>
            </li>
            <li>
                <a class="anchor" href="#how-it-works">How it works</a>
            </li>
            <li>
                <a class="anchor" href="#questions">Questions?</a>
            </li>
            <li>
                <a class="anchor" href="#contact">Contact</a>
            </li>
        </ul>
        <span class="res-cross"><i class="cls-leftright"></i><i class="cls-rightleft"></i></span>
    </div>
</header>